@import '../../style/mixins.scss';

.timeline {
  position: relative;
  max-width: 100%;
  margin-top: 0.5rem;
  padding: 80px 0;
  background-color: $color-black;
  font-family: 'Linden Hill';
  padding-bottom: 100px;
  text-align: center; /* Center-aligns the text */
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: $color-dark-tan;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

/* Top Circle */
.topCircle {
  width: 50px;
  height: 50px;
  background-color: $color-dark-tan;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Event Circle */
.circle {
  width: 20px;
  height: 20px;
  background-color: $color-black;
  border: 3px solid $color-dark-tan;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  z-index: 1;
  left: 10%; /* Center the circle */
  transform: translateX(-0%);
}



/* Timeline event on both sides */
.timelineEvent {
  position:relative;
  margin: 2rem 0;
  width: 50%;
  padding: 20px;
}

.timelineEvent.left {
  float: left;
  text-align: right;
}

.timelineEvent.right {
  float: right;
  text-align: left;
}

.timelineEvent .content {
  padding: 10px;
  background-color: $color-black;
  border: 1px solid $color-dark-tan;
  border-radius: 5px;
  position: relative;
  width: fit-content;
}

/* Content box */
h3 {
  font-size: 1.4rem;
  color: $color-gold;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 10px;
  color: #ddd;
}

a {
  display: inline-block;
  margin-top: 10px;
  color: $color-gold;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* Mobile adjustments */
@media screen and (max-width: 768px) {
  .timelineEvent {
    width: 100%; /* Full width for mobile */
    float: none;
    text-align: center;
  }

  .timelineEvent.left .circle,
  .timelineEvent.right .circle {
    left: 50%;
    transform: translateX(-50%);
  }

  .timelineEvent.left .line,
  .timelineEvent.right .line {
    left: 50%;
    transform: translateX(-50%);
  }

  .content {
    padding: 10px;
    width: 80%;
    margin: 0 auto;
  }
}
